body {
    background: url("../img/background.jpg") fixed;
    background-repeat: no-repeat;
	background-size: cover;
    padding-top: 50px;
    padding-bottom: 30px;
}



.theme-showcase {
    background-color: white;
}
