{% extends "informacion.html" %}

{% block infoUsuario %}
  {% if pred %}
    <div class="page-header">
            <h1>Previsión de Aemet</h1>
            <p>Los siguientes datos son la predicción proporcionada por <a href=http://www.aemet.es/es/eltiempo/prediccion/municipios/sabadell-id08187'>Aemet</a> para esta semana.</p>
    </div>
    <div class="row">
      <div class="form-group col-md-offset-1 col-md-10">
        <script type='text/javascript' src='http://www.aemet.es/es/eltiempo/prediccion/municipios/launchwidget/sabadell-id08187?w=g4p10010101ohmffffffw898z179x4f86d9t95b6e9r1s8n2'></script>
      </div>
    </div>
  {% else %}

<!--	
  <div class="row">
    <div class="form-group col-md-offset-1 col-md-10">
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> NO PREDD
      </div>
    </div>
  </div>
-->
  {% endif %}
{% endblock %}

